*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  padding: 10rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6 rem;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #fff; }

.container {
  max-width: 120rem;
  min-height: 100rem;
  margin: 0 auto;
  background-color: #55c57a; }

.intro {
  padding: 2rem;
  display: flex;
  justify-content: space-between; }
  .intro__left {
    flex: 0 0 80%;
    display: flex;
    flex-direction: column; }
  .intro__name {
    color: #fff;
    font-weight: 700;
    font-size: 4rem; }
  .intro__details {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    background-color: #349956;
    transform: translateX(-2rem);
    padding: 1rem 10rem 1rem 2rem;
    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.4); }
  .intro__detail:not(:last-child) {
    padding-bottom: 1rem; }
  .intro__brief {
    font-size: 2rem;
    padding: 2rem 0; }
  .intro__right {
    flex: 0 0 20%; }
  .intro__profile {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-color: red;
    position: relative; }
    .intro__profile::after {
      content: "";
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      transform: scale(1.1); }
  .intro__profile-pic {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 200; }

.profile {
  display: flex;
  justify-content: space-between;
  padding: 2rem; }
  .profile__experience {
    flex: 0 0 65%; }
  .profile__skills {
    flex: 0 0 30%; }
  .profile__heading {
    color: #fff;
    font-weight: 700;
    font-size: 2rem; }

.company__header {
  margin-left: -2rem;
  margin-top: 1rem;
  padding: 0 1rem 0 2rem;
  background-color: #349956;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.4); }

.project {
  margin-top: 1rem;
  transform: all .1s;
  padding: 1rem; }
  .project:hover {
    transform: scale(1.01);
    background-color: rgba(255, 255, 255, 0.1); }
  .project__name {
    color: #fff;
    font-weight: 700;
    font-size: 1.8rem; }
  .project__description {
    font-size: 1.8rem; }
    .project__description::before {
      width: 3rem;
      height: 3rem;
      content: "\003E";
      display: inline-block;
      vertical-align: top; }
    .project__description div {
      display: inline-block;
      width: 90%; }
