.intro {
    padding: 2rem;
    display: flex;
    justify-content: space-between;

    &__left {
        flex: 0 0 80%;
        display: flex;
        flex-direction: column;

        @media only screen and (max-width: $break-point-large) {
            flex: 0 0 75%;
        }

        @media only screen and (max-width: $break-point-medium) {
            padding: 0;

            flex: 0 0 100%;
            align-items: stretch;
        }
    }

    &__name {
        @include heading-primary;

        &--link:link,
        &--link:visited {
            @include reset-links;
            @include border-bottom-thin;
        }

        @media only screen and (max-width: $break-point-medium) {
            text-align: center;
        }
    }

    &__name &__profile {
        display: none;

        @media only screen and (max-width: $break-point-small) {
            display: block;
            margin: 0 auto;
        }
    }

    &__details {
        align-self: flex-start;

        background-color: $color-primary-dark;
        color: $color-text-secondary;
        transform: translateX(-2rem);
        padding: 1rem 10rem 1rem 2rem;

        @include box-shadow-1;

        @media only screen and (max-width: $break-point-medium) {
            align-self: stretch;
            transform: translateX(0);

            display: flex;
            justify-content: space-between;

            padding: 1rem 2rem 1rem 2rem;
        }

        @media only screen and (max-width: $break-point-small) {
            justify-content: center;
        }
    }

    &__details &__profile {
        display: none;

        @media only screen and (max-width: $break-point-medium) {
            display: block;
        }

        @media only screen and (max-width: $break-point-small) {
            display: none;
        }
    }

    &__details-box {
        display: flex;
        flex-direction: column;

        @media only screen and (max-width: $break-point-small) {
            align-items: center;
        }
    }

    &__detail {
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
        
        &--email {
            @include border-bottom-thin-2;

            & > a,
            & > a:link,
            & > a:visited {
                @include reset-links;
                color: $color-text-secondary;
            }
        }

        &--phone {
            align-self: flex-start;

            @include border-bottom-thin-2;

            & > a,
            & > a:link,
            & > a:visited {
                @include reset-links;
                color: $color-text-secondary;
            }

            @media only screen and (max-width: $break-point-small) {
                align-self: center;
            }
        }

        &--linkedin {
            display: none;
            align-self: flex-start;
            @include border-bottom-thin-2;

            & > a,
            & > a:link,
            & > a:visited {
                @include reset-links;
                color: $color-text-secondary;
            }

            @media only screen and (max-width: $break-point-medium) {
                display: inline-block;
            }

            @media only screen and (max-width: $break-point-small) {
                align-self: center;
            }
        }
    }

    &__brief {
        font-size: 2rem;
        padding: 2rem 0;

        @media only screen and (max-width: $break-point-medium) {
            text-align: justify;
        }
    }

    &__right {
       @media only screen and (max-width: $break-point-medium) {
           display: none;
       }

       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;
    }

    &__profile {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        position: relative;
        

        &::after {
            content: "";
            width: 20rem;
            height: 20rem;
            border-radius: 50%;
            background-color: $color-primary-dark;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
            transform: scale(1.02);

            animation: pulsate 5s infinite 2s;

            @media only screen and (max-width: $break-point-large) {
                width: 15rem;
                height: 15rem;
            }

            @media only screen and (max-width: $break-point-medium) {
                width: 14rem;
                height: 14rem;

                background-color: $color-white;
            }

            @media only screen and (max-width: $break-point-small) {
                background-color: $color-primary-dark;
            }
        }

        @media only screen and (max-width: $break-point-large) {
            width: 15rem;
            height: 15rem;
        }

        @media only screen and (max-width: $break-point-medium) {
            width: 14rem;
            height: 14rem;
        }
    }   

    &__linkedin {
        a:link,
        a:visited {
            @include reset-links;
        }
        margin-top: 1rem;
        border-bottom: 1px solid $color-text-primary;
    }

    &__profile-pic {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 200;
    }
}


.profile {
    display: flex;
    justify-content: space-between;
    padding: 2rem;

    @media only screen and (max-width: $break-point-medium) {
        flex-direction: column;
    }

    &--left {
        flex: 0 0 65%;
    }

    &--right {
        flex: 0 0 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__experience {
        
    }

    &__skills {
        @media only screen and (max-width: $break-point-medium) {
            margin-top: 6rem;
        }
    }

    &__education {
        @media only screen and (max-width: $break-point-medium) {
            margin-top: 6rem;
        }
    }

    &__heading {
        @include heading-secondary;
    }
}

.company {
    &__header {
        margin-left: -2rem;
        margin-top: 1rem;
        padding: 0 1rem 0 2rem;

        background-color: $color-primary-dark;;
        color:  $color-text-secondary;

        display: flex;
        justify-content: space-between;

        @include box-shadow-1;

        @media only screen and (max-width: $break-point-medium) {
            margin-left: 0;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: center;
        }
    }

    &__name {

    }

    &__tenure {
    }

    &__location {
        @media only screen and (max-width: $break-point-small) {
            display: none;
        }
    }
}

.project {
    margin-top: 1rem;
    transform: all .1s;
    padding: 1rem;

    &:hover {
        transform: scale(1.01);
        background-color: rgba($color: $color-text-primary, $alpha: .1)
    }

    &__name {
        @include heading-tertiary;
    }

    &__description {
        font-size: 1.8rem;
        
        &::before {
            width: 3rem;
            height: 3rem;
            content: "\003E";
            display: inline-block;
            vertical-align: top;
        }

        & div {
            display: inline-block;
            width: 90%;
        }
    }
}


.skills {
    margin-top: 2rem;
    color: $color-text-secondary;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media only screen and (max-width: $break-point-medium) {
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: center;
        }
    }

    &__box {
        cursor: default;
        filter: drop-shadow($box-shadow-2);

        &:not(:last-child) {
            margin-bottom: 1.2rem;
        }

        @media only screen and (max-width: $break-point-medium) {
            margin-bottom: 2rem;

            margin-right: auto;
            margin-left: auto;
        }
    }

    &__item {      
        font-size: 1.8rem; 
        background-color: $color-primary-dark;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: all .2s;
        padding: 1rem 1rem 1rem 5rem;
        margin-right: -2rem;

        &:hover {
            clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
            padding-left: 8rem;

            @media only screen and (max-width: $break-point-medium) {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                padding-left: 1rem;
            }
        }

        @media only screen and (max-width: $break-point-medium) {
            padding: 1rem 1rem 1rem 1rem;
            margin-right: 0;
        }
    }

}

.education {
    &__header {
        margin-top: 1rem;
        padding: 0 1rem 0 2rem;

        background-color: $color-primary-dark;

        display: flex;
        justify-content: space-between;

        @include box-shadow-1;

        @media only screen and (max-width: $break-point-medium) {
            margin-left: 0;
        }
    }

    &__institute {
        margin-top: .5rem;
    }

    &__institute-name {
        
    }
}

   