@mixin heading-primary {
    color: $color-text-primary;
    font-weight: 700;
    font-size: 4rem;
}

@mixin heading-secondary {
    color: $color-text-primary;
    font-weight: 700;
    font-size: 2rem;
}

@mixin heading-tertiary {
    color: $color-text-primary;
    font-weight: 700;
    font-size: 1.8rem;
}