$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #349956;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;

$box-shadow-1: 0 0.4rem .6rem rgba($color: $color-black, $alpha: 0.4);
$box-shadow-2: 0 .5rem .6rem rgba($color: $color-black, $alpha: 0.4);

$break-point-large: 75em; // 1200 / 16
$break-point-medium: 50em; // 800 / 16